.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 420px;
  height: 420px;
  margin: 0;
  padding: 0;
}
.square-btn {
  height: 140px;
  width: 140px;
  font-size: 50px;
  padding: 0;
  margin: 0;
}
.winner {
  font-size: 34px;
  font-weight: bolder;
  font-style: oblique;
  color: #101010;
}
.btn {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: lightslategray;
  color: whitesmoke;
  border: none;
}
.btn:hover {
  background-color: darkgrey;
  color: white;
}
